/* FOOTER */

footer {
    background: #F2F2F2;
    display: flex;
}

footer .footer {
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: 1440px;
    margin: auto;
    line-height: 30px;
    margin-bottom: 2%;
}

footer ul {
    list-style-type: none;
    text-decoration: none;
}

footer .footer .about, .hosts, .help {
    margin-top: 2%;
    padding: 5px;
    font-weight: 500;
    font-size: large;
    margin-left: 20px;
}

footer h3 {
    margin-bottom: 5%;
    margin-left: 20px;
}

