/* RESPONSIVE */


@media screen and (max-width: 768px) {

    header {
        flex-direction: column;
    }

    header .logo {
        margin: auto;
        margin-bottom: 5%;
    }

    nav {
        flex-direction: column;
        margin-bottom: 5%;
        font-size: 25px;
    }

    h3 {
        margin-bottom: 3%;
    }

    .container-hosting-cards {
        flex-direction: column;
        width: 100%;
    }

    .hosting-cards{
        order: 2;
    }

    .popular {
        order: 1;
    }

    .container .activity .activity-cards .container-activity-cards {
        justify-content: center;
    }

    .container .activity .activity-cards .container-activity-cards article {
        margin: 15px;
    }

    .container-double {
        width: 450px !important;
        max-width: 100%;
    }

    .container .activity .activity-cards .container-activity-cards article .activity-image img, .container-double .activity-image-moy img {
        width: 420px !important;
        max-width: 100%;
        height: 175px;
        object-fit: cover;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        margin: 0;
    }

    .small {
        height: 175px !important;
    }

    .footer {
        flex-direction: column;
    }

    footer .footer .about, .hosts, .help {
        justify-content: center;
        margin-left: 20px;
    }
}