/* RESPONSIVE */


@media screen and (max-width: 768px) {


    header {
        flex-direction: column;
    }

    header .logo {
        margin: auto;
        margin-bottom: 5%;
    }

    nav {
        flex-direction: column;
        margin-bottom: 5%;
        font-size: 50px;
    }

    h3 {
        margin-bottom: 3%;
    }

    .container-hosting-cards {
        flex-direction: column;
        width: 100%;
    }

    .hosting-cards{
        order: 2;
    }

    .popular {
        order: 1;
    }

    .container-activity-cards {
        justify-content: center;
    }

    .activity .activity-cards .container-activity-cards article {
        margin: 50px;
    }

    .container .activity .activity-cards .container-activity-cards {
        width: 100%;
        flex-direction: column;
        justify-content: center ;
    }

    .container .activity .activity-cards .container-activity-cards article {
    }
    
    .footer {
        flex-direction: column;
        margin: auto;
    }
}